
h2 {
  text-align: center;
  color: chocolate;
}

.heroes-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: chocolate;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: rgba(160, 184, 228, 0.51);
}
